*{
    font-family: 'Courier New', monospace;
    margin: 0px;
}

.container{
    display:flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    align-items: center;
    width:100vw;
    height:100vh;
}

.centertray{
    display:flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
    width:80vw;
    height:20vh;
    margin-top: 20vh;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
}

.bodyblock{
    display:flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    width:50vw;
    height: 80vh;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 31px;
    border-style: solid;
    border-color: black;
}

#title{
    font-size: 3vw;
    font-family:'Courier New', monospace;
    font-weight: bold;
}

#author{
    font-size: 2vw;
    font-family:'Courier New', monospace;
    font-weight: bold;
}

#body{
    font-size: 16px;
    font-family:'Courier New', monospace;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}