*{
    font-family: Helvetica;
    margin: 0;
}

#header{
    font-size: 100px;
    font-family:'Courier New', monospace;
    font-weight: bold;
    letter-spacing: 60px;
    color: white;
    justify-content: center;
    align-items: center;
}

.clock-container {
    font-size: 32px;
    text-align: center;
    font-family: 'Courier New';
    color:white;
}

#footer{
    display:flex;
    justify-content: center;
    font-size: 12px;
    font-family: 'Courier New';
    font-weight: bold;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width:100vw;
    height:100vh;
}

.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
    height:100%;
    width:100%;
}

.top-item{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:rgb(27, 27, 27);
    height:100%;
    width:100%;
    gap:10px;
}

.page-button{
    display:flex;
    justify-content: center;
    align-items: center;
    background:white;
    height:50px;
    width:150px;
    border-radius: 5px;
}

#button-text{
    font-family: 'Courier New', Courier, monospace;
    color:rgb(27, 27, 27);
}