* {
    margin: 0px;
}

.pagecontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height:100vh;
}

.outercontainer{
    width: 100vw;
    height:100vh;
}

.container1{
    display: flex;
    position: fixed;
    width: 100vw;
    height:100vh;
    animation: container1-animation 5s linear infinite;
}

@keyframes container1-animation{
    0%{
        background-color: red;
    }
    50%{
        background-color: white;
    }
    100%{
        background-color: red;
    }
}

.container2{
    display: flex;
    position: fixed;
    width: 90vw;
    height:90vh;
    animation: container2-animation 5s linear infinite;
}

@keyframes container2-animation{
    0%{
        background-color: orange;
    }
    50%{
        background-color: red;
    }
    100%{
        background-color: orange;
    }
}

.container3{
    display: flex;
    position: fixed;
    width: 80vw;
    height:80vh;
    animation: container3-animation 5s linear infinite;
}

@keyframes container3-animation{
    0%{
        background-color: yellow;
    }
    50%{
        background-color: orange;
    }
    100%{
        background-color: yellow;
    }
}

.container4{
    display: flex;
    position: fixed;
    width: 70vw;
    height:70vh;
    background-color: green;
    animation: container4-animation 5s linear infinite;
}

@keyframes container4-animation{
    0%{
        background-color: green;
    }
    50%{
        background-color: yellow;
    }
    100%{
        background-color: green;
    }
}

.container5{
    display: flex;
    position: fixed;
    width: 60vw;
    height:60vh;
    animation: container5-animation 5s linear infinite;
}

@keyframes container5-animation{
    0%{
        background-color: blue;
    }
    50%{
        background-color: green;
    }
    100%{
        background-color: blue;
    }
}

.container6{
    display: flex;
    position: fixed;
    width: 50vw;
    height:50vh;
    background-color: blueviolet;
    animation: container5-animation 5s linear infinite;
}

@keyframes container6-animation{
    0%{
        background-color: blueviolet;
    }
    50%{
        background-color: blue;
    }
    100%{
        background-color: blueviolet;
    }
}

.container7{
    display: flex;
    position: fixed;
    width:40vw;
    height:40vh;
    background-color: violet;
    animation: container5-animation 5s linear infinite;
}

@keyframes container5-animation{
    0%{
        background-color: violet;
    }
    50%{
        background-color: blueviolet;
    }
    100%{
        background-color: violet;
    }
}

.container8{
    display: flex;
    position: fixed;
    width: 30vw;
    height:30vh;
    background-color: pink
}
.container9{
    display: flex;
    position: fixed;
    width: 20vw;
    height:20vh;
    background-color: white;
}

.nextpageimage{
    width:32px;
    height: 32px;
    background-image: url(/project1/nextpage-button.png);
    background-size: contain;
}

.nextpageimage:hover{
    background-image: url(/project1/nextpage-button-hover.png);
    transition-duration: 0s;
}

.nextpagebutton:hover .nextpageimage{
    background-image: url(/project1/nextpage-button-hover.png);
}