img {
  height: 300px;
  display: inline-block;
  position: fixed;
}

.container{
  flex-direction: row;
  height:100%;
  width:100%;
  background: url('/assets/images/sunset.jpeg');
}

#img-0 {
  width: 100vw;
  height: 100vh;
}

#img-1 {
  height: 150px;
}

#img-2 {
  
}

#img-3 {
  
}

#img-4 {
  
}

#img-5 {
  
}

#img-6 {
  
}

#img-7 {
  
}

#img-8 {
  
}

#img-9 {
  
}

#img-10 {
  
}

#img-11 {
  
}