img {
  height: 200px;
  display: inline-block;
}

.container{
  display:flex;
  /* justify-content: center;
  align-items: center;
  width:100vw;
  height:100vh; */
}

.background{
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center;
  height:100%;
  width:100%; */
  background-image: url('/assets/images/sunset.jpeg');
}

#img-0 {
  
}

#img-1 {
  
}

#img-2 {
  
}

#img-3 {
  
}

#img-4 {
  
}

#img-5 {
  
}

#img-6 {
  
}

#img-7 {
  
}

#img-8 {
  
}

#img-9 {
  
}

#img-10 {
  
}

#img-11 {
  
}