*{
  margin: 0px;
}

img {
  height: 300px;
  display: inline-block;
  position: fixed;
}

/* #img-0 {

}

#img-1 {

}

#img-2 {
  
}

#img-3 {
  
}

#img-4 {
  
} */

#img-5 {
  height: 100vh;
  width: 50vw;  
  right: 0;
}

/* #img-6 {
  
}

#img-7 {
  
}

#img-8 {
  
} */

#img-9 {
  height: 100vh;
  width: 50vw;
  left:0;
}

/* #img-10 {
  
}

#img-11 {
  
} */