*{
    margin:0px;
}

.container{
    display:flex;
    flex-direction: column;
    background-color: red;
    width:100vw;
    height:100vh;
}

.top{
    height:10%;
    display: flex;
    flex-direction: row;
    padding:10px;
    gap:10px;
}

.bottom{
    background:blue;
    display: flex;
    flex-direction: row;
    height:80%;
    padding:10px;
    gap:10px;
}

.top-item{
    background:grey;
    height:100%;
    width:100%;
}

.left{
    display:flex;
    background: purple;
    height:100%;
    width:50%;
    justify-content: center;
    align-items: center;
}

.right{
    background: orange;
    display:flex;
    flex-direction: column;
    height:100%;
    width:50%;
    gap:10px;
}

.right-item{
    background:green;
    width:100%;
    height:25%;
}

.left-item{
    background:gold;
    width:25%;
    height:25%;

}







    /* .box1{
        display: inline-block;
        background: red;
        width: 250px;
        height: 250px;
    }

    .box2{
        display: flex;
        background: orange;
        width: 125px;
        height: 125px;
        
    }

    .box3{
        display: inline-block;
        background: green;
        width: 250px;
        height: 250px;
    }

    .box4{
        display: flex;
        background: yellow;
        width: 125px;
        height: 125px;
        
    }

    .box5{
        display: inline-block;
        background: blue;
        width: 250px;
        height: 250px;
    }

    .box6{
        display: flex;
        background: turquoise;
        width: 125px;
        height: 125px;
        
    }

    .box7{
        display: inline-block;
        background: purple;
        width: 250px;
        height: 250px;
    }

    .box8{
        display: flex;
        background: violet;
        width: 125px;
        height: 125px;
        
    }

    .box9{
        display: inline-block;
        background: black;
        width: 1000px;
        height: 125px;
    }

     */